* {
	transition: ease all 0.2s;
	-webkit-transition: ease all 0.2s; 
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
a,a:hover,a:focus{
	text-decoration: none;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}
.container{
	max-width:1200px;
	width:100%;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar {
  margin-bottom: 0px;
  min-height: 0px;
  position: relative;
}
.navbar-nav > li > a {
  padding-bottom: 0;
  padding-top: 0;
}
.header_cover{
	background-color: #f6f6f6;
	padding: 20px 0px;
}
@font-face{
	font-family: Montserrat-Boldimport;
	src:url("../font/Montserrat-Bold.ttf");
}
@font-face{
	font-family: Montserrat-Regularimport;
	src:url("../font/Montserrat-Regular.ttf");
}
@font-face{
	font-family: Lato-Regularimport;
	src:url("../font/Lato-Regular.ttf");
}
@font-face{
	font-family: Lato-Lightimport;
	src:url("../font/Lato-Light.ttf");
}
p{
	font-family: Lato-Lightimport;
	font-size: 14px;
}
h1,h2,h3,h4,h5,h6,a{
	font-family: Montserrat-Regularimport;
}
.navbar-nav > li > a {
 font-size: 13px;
 font-family: Montserrat-Regularimport;
 color: #000!important;
}
.navbar {
	padding: 23px 0px;
}
.banner{
	position: relative;
}
.banner_overlay{
	position: absolute;
	background-color: rgba(0,0,0,0.65);
	top: 0px;
	height:100%;
	width:100%;
}
.header_border{
	height: 14px;
	width: 100%;
	background-color:rgba(115,191,30,0.5);
	position: absolute;
	top: 0px;
}
.banner h1{
	color: #fff;
	margin-top:238px;
	text-align: center;
	font-size: 52.94px;
	font-family: Montserrat-Regularimport;
}
.banner h1 span{
	color: #73bf1e;
}
.banner p{
	font-size: 16.33px;
	color: #fff;
	margin: 22px 0px;
	text-align: center;
}
.custom_button{
	color: #73bf1e;
	display: block;
	padding: 11px 49px;
	border: 1px solid #73bf1e;
	max-width: 185px;
	margin: auto;	
}
.about_us_cover{
	position: relative;
	background-image:url("../images/img_06.jpg"); 	
}
.about_us_cover > div{
	padding: 0px;
}
	
.about_us_cover div> div > div{
	margin-top: 70.9px;
}
.about_us_cover div > div > div h2{
	font-size: 30px;
	color: #000;
}
.about_us_cover div > div > div h2:before{
	content: "";
	width: 9px;
	height: 24px;
	background-color: #73bf1e;
	display: inline-block;
	margin-right: 11px;
}
.about_us_cover div > div > div p{
	font-size: 14px;
	margin: 35px 0px;
}
.about_us_cover div > div > div a{
	font-size: 14px;
	font-family: Lato-Regularimport;
	color: #000;
}
.about_us_cover div > div > div i{
	color: #000;
	margin-left:5px; 
}

div h2{
	font-size: 30px;
	color: #000;
}
h2:before{
	content: "";
	width: 9px;
	height: 22px!important;
	background-color: #73bf1e;
	display: inline-block;
	margin-right: 11px;
}
.services_cover{
	padding: 85px 0px;
}
.services_cover h2{
	text-align: center;
}
.services_cover .box h3{
	font-family: Montserrat-Boldimport;
	max-width: 185px;
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
	line-height: 17px;
}
.services_cover .left_services .box h3:after{
	content: "";
	display: block;
	width: 57px;
	height: 1px;	
	background-color: #73bf1e;
	margin: 17px 0px;
	position: absolute;
	right:0px;
}
.services_cover .box a{
	font-size: 14px;
	color: #73bf1e;
}
.services_cover .box > div:nth-child(1) i {
  color: #73bf1e;
  font-size: 14px;
  margin-left: 3px;
  margin-right: 3px;
}
.left_services .box{
	border-right: 1px solid #f5f5f5;
}
.box{
	max-width: 100%;
	padding: 0px 36px;
	padding-bottom: 35px;
	padding-top: 35px;
	border-bottom:1px solid #f5f5f5;
	min-height: 250px;
}

.box:last-child{
	border-bottom:0px;
}
.box:nth-child(2){
	padding-top:35px; 
}
.services_cover .box p{
	margin-bottom:17px; 
}
.box div:nth-child(1){
	max-width: 76%;
	float:right;
}
.box div:nth-child(2){
	border: 1px solid #73bf1e;
	width: 58px;
	height: 58px;
}
.box div:nth-child(2) i{
	font-size: 25.4px;
	text-align: center;
	color: #73bf1e;
	margin-top:16px; 
	display: block;
}
.box div:nth-child(2) i{
	font-size: 25.4px;
	text-align: center;
	color: #73bf1e;
	margin-top:16px; 
	display: block;
}
.services_cover .right_services .box h3::after {
  background-color: #73bf1e;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  margin: 17px 0;
  position: absolute;
  width: 57px;
}
.left_services .box div:nth-child(1){
	text-align: right;
	float:left;
}
.left_services .box div:nth-child(2){
	float:right;
	margin-left: 9px;
}
.services_cover > div:nth-child(2){
	margin-top:58px;
}
.services_cover > div{
	border-bottom: 1px solid #f5f5f5;
}
.services_cover > div:last-child{
	border-bottom: 0px;
}
.services_cover > :nth-child(2){
	padding: 0px;
}
.services_cover > :nth-child(3){
	padding: 0px;
}
.it_cover{
	background-image:url("../images/img_01.jpg");
	background-position: right;
	background-repeat: no-repeat;  
	height:100%;
	background-color:#f7f7f7; 
}
.it_cover .container > div{
	max-width: 430px;	
	background-color: #f7f7f7;
	padding: 0px;
	padding-top: 80px;
	padding-left: 15px;
}
.it_cover .container > div > p{
	max-width: 378px;
	padding: 22px 0px;
}
.it_menu_cover{
	position: relative;
}
.it_menu_cover i{
	margin-right: 5px;
}
.it_menu_cover > div{
	padding-top: 12.2px;
	padding-bottom: 12px;
	padding-left: 30px;
	border-top: 1px solid #f4f3f3;
	border-bottom: 1px solid #f4f3f3;
	cursor:pointer;
}
.it_menu_cover > div:hover{
	background-color: #73BF1E;
	color: #fff;
}
.it_menu_cover > div > div{
	position: absolute;
	left: 100%;
	top: 0px;
	padding: 35px;
	background-color: rgba(255,255,255,0.9);
	max-width: 375px;
	width: 100%;
	display: none;
}
.it_menu_cover > div > div p{
	padding: 25px 0px;
	color: #000;
}
.it_menu_cover > div > span{
	font-family: Lato-Regularimport;
}
.it_menu_cover > div > div a{
	color: #000;
	font-family: Lato-Regularimport;
}
.it_menu_cover > div > div i{
	margin-left:5px; 
}
.it_menu_cover > div:hover div{
	display: block;
}
.infra_cover .container img{
	display: inline-block;
	margin: 2px 0px;
}
.infra_cover .container div:nth-child(1){
	border-right: 1px solid #f3f3f3;
}
.infra_cover .container div:nth-child(2){
	padding-left:55px; 
}
.infra_cover .container > div{
	padding-top:50px ;
	padding-bottom:50px ;
}
.infra_cover{
	padding:70px 0px;
}
.infra_cover .container div:nth-child(2) p{
	padding:26px 0px; 
}
.infra_cover .container div:nth-child(2) a{
	margin-left: 0px; 
}
.tagline_cover{
	background-image: url("../images/img_07.jpg");
	position: relative;
	padding: 50px 0px;
}
.tagline_cover:before{
	content: "";
	position: absolute;
	background-color: rgba(115,191,30,0.85);
	z-index: 999;
	height: 100%;
	width: 100%;top: 0px
}
.tagline_cover .container{
	position: relative;
	z-index: 999;	
}
.tagline_cover .container > div:nth-child(2) p{
	padding-left:60px;  
	padding: 20px 20px;
	vertical-align: middle;
	border-left: 1px solid #fff;
}
.tagline_cover .container > div:nth-child(2) p{
	color: #fff;
	font-family: Lato-Regularimport;
	font-size: 15px;
}
.tagline_cover .custom_button{
	border: 1px solid #fff;
	color: #fff;
	padding:11px 39px;
	margin-top: 20px; 
}
.contact_cover{
	padding: 70px 0px;
}
.contact_cover .container div > div:nth-child(1){
	border-right:1px solid #e3e3e3;
}
.contact_cover .container div > div:nth-child(2) p{
	padding-left: 60px;
}
.contact_cover form input,textarea{
	width: 100%;	
	border: 1px solid #e3e3e3;
	padding-left:20px!important;	 
}
.contact_cover form input{
	padding:9px 0px; 
	margin-bottom: 19px;
}
.contact_cover form input{
	padding:9px 0px; 
	margin-bottom: 19px;
}
.contact_cover .container > div:nth-child(2){
	margin-top: 55px;
}
.form_submit_btn{
	border: 0px;
	background-color: #73bf1e!important;
	color: #fff;	
	font-family: Lato-Regularimport;
	font-size: 16px;	
	padding-left: 0px!important;
}
.contact_cover form textarea{
	height: 220px;
	padding-top:20px!important;
	max-width: 100%;
	min-width: 100%;
	max-height:219px;
	min-height:219px; 
	resize: none;
	color: #979797;
}
.contact_cover .container div:nth-child(2) div{
	border: 0px;
	max-width:429px;
} 
.contact_cover .container div:nth-child(2) div > div i{
	padding:13px; 
	background-color: #73bf1e;
	margin-right: 20px;
	color: #fff;
	display: block;
	float: left;
} 
.contact_cover .container div:nth-child(2) > div div{
	border: 1px solid #e3e3e3;
	border-left:0px; 
	margin-bottom: 17px;
	height: 42px;
	display: flex;
	align-items:center;
} 
.contact_cover .container div:nth-child(2) > div div a{
	font-family: Lato-Regularimport;
	color: #000;
	font-size: 13px;
	display: block;
} 
.contact_cover{
	position: relative;
}
.footer_cover{
	background-color: #333333;
	padding: 60px 0px;
}
h4{
	 font-size: 19.1px;
	 color: #fff;
}
h4:after{
	content: "";
	display: block;
	width: 36px;
	height:1px;
	margin: 27px 0px;
	background-color: #fff;
}
.footer_cover p{
	color: #fff;
}
.footer_cover i {
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
  display: inline-block;
  height: 30px;
  margin-right: 14px;
  padding: 7px 0;
  text-align: center;
  width: 30px;
  cursor: pointer;	
  margin-bottom: 5px;
}
.footer_cover a{
	font-family: Lato-Regularimport;
	color: #8c8c8c;
	font-size: 13px;
	display: block;
}
.footer_cover a:hover{
	color: #73bf1e;
}
.footer_cover a:hover i{
	color: #73bf1e;
	border: 1px solid #73bf1e;
}
.footer_cover ul{
	display: inline-block;
	margin-right: 10px;
}
.footer_cover ul li a{
	color: #fff;
	padding-bottom: 10px;
}
.footer_cover ul li a:hover{
	color: #73BF1E;
}
.footer_cover form input{
	float: left;
}
.news_email{
	max-width: 162px;
	width: 100%;
	background-color: transparent;
	border: 1px solid #8C8C8C;
}
.news_submit {
  background-color: #73bf1e;
  border: 0px; 
  color: #fff;
  height: 29px;
  max-width: 100px;
  padding: 0px;
}
.footer_cover form{
	margin-top:23px; 
}
.copyright_cover{
	background-color: #262626;
	padding: 10px 0px;
}
.copyright_cover span,i{
	color: #fff;
	font-size: 13px;
}
.copyright_cover span span{
	color: #73bf1e;
}
.mcitp_cover > div:nth-child(1){
	padding: 0px;
}
.mcitp_cover{
	position: relative;
}
.mcitp_cover .custom_button{
	margin-left:0px;
}
.mcitp_cover p{
	margin: 40px 0px;
}
.mcitp_cover h2{
	margin-top:45px;
	text-transform: uppercase;
}
.mcitp_cover .container > div{
	padding-left: 40px;	
}
.nav.navbar-nav a:hover::after {
  background-color: #73bf1e;
  content: "";
  display: block;
  height: 2px;
  margin-top: 3px;
  width: 100%;
}
.about_us_cover > div:nth-child(1){
	max-width: 863px;
}
.it_cover .container i{
	color: #000;
}
.it_menu_cover > div:hover i{
	color: #fff;
}
.contact_cover form textarea:focus{
	border: 1px solid #73bf1e;
}
.contact_cover form input:focus{
	border: 1px solid #73bf1e;
}
.news_cover{
	max-width: 266px;
}
.news_cover input:focus{
	border: 1px solid #73bf1e;
}
.about_us_cover > div:nth-child(1) {
  max-width: 863px;
  padding: 0px 15px;
  background-color:#fff; 
}
.nav > li > a {
  display: block;
  padding: 0!important;
  position: relative;
}
.nav > li {
  margin-right: 30px;
}
.nav > li:last-child {
  margin-right: 0px;
}


.box:hover div:nth-child(2) i{
	color: #fff!important;
}
.box:hover div:nth-child(2){
	background-color:#73bf1e; 
}
.custom_button:hover{
	background-color:#73bf1e;
	color: #fff;
}
.tagline_cover .custom_button:hover{
	background-color:#fff;
	color: #73bf1e;
}
.form_submit_btn:hover{
	background-color:#fff!important;
	color: #73bf1e;
}
.contact_cover .container div:nth-child(2) > div div:hover{
	background-color:#73bf1e; 
}
.contact_cover .container div:nth-child(2) > div div:hover a{
	color:#fff; 
}
.contact_cover .container div:nth-child(2) > div div:hover i{
	color:#73bf1e; 
	border: 1px solid #73bf1e;
	border-right:0px; 
	background-color:#fff 
}
/*services*/

.mcitp_cover div:nth-child(2){
	max-width: 560px;
	padding-bottom: 49px;
	margin-top: 18px;
}
.mcitp_cover > div:nth-child(1){
	height: 352px;
	background-image:url("../images/img_09.jpg"); 
	background-repeat: no-repeat;
	background-size:cover; 
}
.category_banner{
	position: relative;
	min-height: 294px;
	background-image: url("../images/service_banner.jpg");
	background-size: cover;
}
.category_banner h3{
	color: #fff;
	font-size: 44px;
	display: inline-block;
	margin-top: 125px;
}
.category_banner h3:before{
	content: "";
	width: 9px;
	height: 32px;
	background-color:#73bf1e; 
	display: inline-block;
	margin-right: 17px;
}
.category_banner ul li a{
	float: left;
	font-family: Montserrat-Regularimport;	
	font-size: 13px;
	color: #73bf1e;
}
.category_banner ul li{
	float: left;
	font-family: Montserrat-Regularimport;	
	font-size: 13px;
	color: #fff;
	margin-top: 132px;
}
.category_banner ul li a:after{
	content: "/";
	padding: 0px 15px;
	color: #fff;
}
.news_submit:hover{
	background-color: #fff;
	color: #73bf1e;
}
/*services end*/
@media screen and (max-width: 1180px){
	.navbar-nav > li > a{
		font-size: 13px;
		padding: 0px 0px!important;
	}
	.tagline_cover .custom_button {
	  border: 1px solid #fff;
	  color: #fff;
	  margin-top: 20px;
	  padding: 10px 4px;
	}
	.tagline_cover  .custom_button {
	  display: block;
	  max-width: 94px;
	}
	.navbar-nav > li > a {
	  padding:0!important;
	}
	.nav > li {
	  margin-right: 15px;
	}

}
@media screen and (max-width: 767px){
	.navbar{
		padding: 0px;
	}
	.header_cover .container ul{
		float: none!important;
	}
	.nav.navbar-nav a:hover::after{
		height: 0px;
		margin: 0px;
	}
	.nav.navbar-nav a:hover{
		color: #73bf1e!important;
	}
	.header_cover .navbar-header button{
		margin-top: 20px;	
	}
	.navbar-header{
		margin-bottom: 5px;
	}
	.footer_cover .container > div{
		text-align: center;
		margin-bottom: 30px;
	}
	h4::after {
	  content: "";
	  margin: 27px auto;
	}
	.news_cover{
		margin: auto;
	}
	.news_email{
		max-width: 100%;
	}
	.news_submit{
		margin-top: 10px;
	}
	.copyright_cover .container{
		text-align: center;
	}
	.contact_cover form > div {
	  width: 100% !important;
	}
	.contact_cover .container div:nth-child(2) div {
	  max-width: 100%;
	}
	.contact_cover form textarea{
		margin-bottom:19px; 
	}
	.tagline_cover .container > div:nth-child(1){
		border: 0px;
	}
	.tagline_cover .container > div:nth-child(1) img{
		display: block;
		margin: auto;
	}
	.tagline_cover .container > div:nth-child(2) {
	  padding: 10px 0px;
	  text-align: center;
	  vertical-align: middle;
	}
	.contact_cover .container div > div:nth-child(2) p {
	  padding-left: 0px;
	  margin-top: 10px;
	}
	.contact_cover {
	  padding: 44px 0;
	}
	.contact_cover .container div > div:nth-child(1) {
	  border-right: 0px;
	}
	.contact_cover .container > div:nth-child(2) {
	  margin-top: 38px;
	}
	.infra_cover .container div:nth-child(2){
		padding-left: 15px;
	}
	.infra_cover .container > div {
	  padding-bottom: 40px;
	  padding-top: 0px;
	}
	.infra_cover {
	  padding: 50px 0;
	}
	.left_services .box div:nth-child(1) {
	  float: right;
	  text-align: left;
	}
	.left_services .box div:nth-child(2) {
	  float: none;
	  margin-left: 11px;
	}
	.services_cover .left_services .box h3::after {
	  content: "";	
	  left: 0;
	  position: absolute;
	}
	.box {
	  max-width: 749px;
	  padding: 35px 36px;
	}
	.left_services .box div:nth-child(2) {
	  float: right;
	  margin-left: 0px;
	}
	.left_services .box div:nth-child(2) {
	  float: none;
	  margin-left: 0;
	}
	.box {
	  max-width: 749px;
	  padding: 35px 15px;
	}
	.it_menu_cover > div{
		position: relative;
	}
	.it_menu_cover > div > div{
		background-color:#fff;
		z-index: 999; 
		left: 0px;
		top: 45px;
	}
	.it_menu_cover > div:focus div{
		display: block;
	}
	.it_cover .container > div{
		max-width: 100%;	
	}
	.infra_cover .container img{
		display: block;
		margin: 2px 0px;
		margin: auto;
	}
	.services_cover > div {
	  border-bottom: 0px;
	}
	.about_us_cover div > div > div {
	  margin-top: 35px;
	}
	.services_cover h2 {
	  margin-left: 15px;
	  text-align: left;
	}
	.services_cover {
	  padding: 35px 0;
	}
	.services_cover > div:nth-child(2) {
	  margin-top: 10px;
	}
	.box {
	  padding-bottom: 0px;
	}
	.infra_cover{
		padding-bottom:0px;
	}
	.footer_cover {
	  background-color: #333333;
	  padding-bottom: 0;
	}
	.nav > li > a {
	  margin-right: 15px;
	  padding: 10px 0!important;
	}
	.tagline_cover .container > div:nth-child(2){
		border: 0px;
	}
	.news_submit{
		max-width:100%;
	}
	input{
		width: 100%;
	}
	.mcitp_cover div:nth-child(2) {
	  max-width: 100%;
	}
	.category_banner h3 {
	  font-size: 27px;
	}
	.category_banner h3::before {
	  content: "";
	  height: 20px;
	}
	.category_banner ul li {
	  margin-top: 95px;
	}
	.category_banner {
	  min-height: 209px;
	}
	.category_banner h3 {
	  margin-top: 90px;
	}
	.news_submit{
		max-width:100%!important;
	}
	.tagline_cover .container > div:nth-child(2) p{
		border: 0px;
	}
}
@media screen and (max-width: 1197px){
	.news_submit{
		max-width:162px;
	}
	input{
		width: 100%;
	}
}
@media screen and (max-width: 891px){
	.mcitp_cover div:nth-child(2){
		margin-top: 0px;
	}
}